<div class="grid HeaderBox">
   <div class="maxWidth">
        <span class="font_0 Header1">
            {{ "About me" | uppercase}}
        </span>

        <div>
            <img class ="iconDiv maxWidth" src="assets\img\Portrait_Sitting_Typing_SideAngle.JPG">
        </div>

        <p class="maxWidth">
            Determined, adaptable, and goal-driven Software Developer 
            with a passion for data and varied experience writing relevant 
            code tied to real-world business applications. 
            <br><br>
            When I started college I thought that being successful required
            you to bite the bullet and get a career that was 'serious' and 
            not necessarily fun. I chose an Accounting major because it was 
            the 'smart' choice, despite promising myself when I was younger 
            that no matter what I would find a career that let me create 
            and shape my work product. While I found a lot to love about 
            accounting and the satisfaction of well-organized data, there 
            is very little creativity permitted in accounting. 
            <br><br>
            I didn't hit my stride until a required computer basics course 
            that introduced me to programming. Suddenly I was looking at 
            all of these business softwares I worked with from a whole new 
            angle. It inspired me to imagine new, more efficient ways of 
            organizing my workflow. Inspired me to recommit to a career that 
            embraced innovation and change. My experiences led me to become 
            the Software Developer I am today. 
            <br><br>
        </p>
        
        <div class="maxWidth grid">
            <button>
                <a routerLink="/about">
                    View Resume
                </a>
            </button>
        </div>
        

    </div>
</div>
