<div class="HeaderBox grid">
    <div class="maxWidth">
        <span class="font_0 Header1 maxWidth">
            {{ "Hi, I'm Gabby." | uppercase}}
            <br>
            {{" A Software Engineer." | uppercase }} 
        </span>
        <br>
        <p class="maxWidth">
            Determined, adaptable, and goal-driven Software Developer with a 
            passion for data and varied experience writing relevant code tied 
            to real-world business applications.
        </p>
        <br>
        <button>
            <a routerLink="/about">
                Read More
            </a>
        </button>
    </div>  

    <div>
        <img class ="iconDiv maxWidth" src="assets\img\Portrait_Standing.JPG">
    </div>
</div>
