p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    text-decoration: none;
    color: var(--color_light);
    padding-left: 10px;
    padding-right: 10px;
    
}

.siteHeader {
    background-color: rgb(var(--color_dark));
    height: auto;
    min-height: auto;
    width: 100%;
    position: static;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

.logoBox {
    width: 121;
    height: 111;
}

.headerMargin {
    margin: 30px 0px 0px 0px;
}

.grid{
    position: relative;
    margin-left: 20px;
    /* width: 50%; */
    display: flex; 
}
.siteHeaderSection {
    min-width: 980px;
    margin: 5px 0px 44px calc((100% - 121px) * 0);
    margin-left:  20px;
    width: calc(100% - 60px - 60px)!;
    /* enabled row not column! vv */
    justify-self: start;
    align-self: start;
    vertical-align: baseline;
}
.websiteNameDiv {
    overflow-wrap: break-word;
    text-align: start;
    width: 92px;
}
.websiteNameFont {
    font-family: Arial, Helvetica, sans-serif;
    font:var(--font_0);
    color: rgb(var(--color_teal));
    font-weight: 600;
    font-size: 22px;
    line-height: 1.41;
    text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px,
    rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    /* filter: contrast(9.32); */
}
.iconDiv{
    position: relative;
    left: 1px;
    top: 4px;
    transform: rotate(9.167100889757648deg);
    width: 50px;
    height: 54px;
}

.spacer{
    top: 4px;
    right:40px;
    font: var(--font_1);
    font-weight: 550;
    font-size: 18px;
    position: absolute;
    align-self: center;
}